{% extends "base.html" %}
{% block title %} - Contact{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <div class="row" style="margin-top: 30px;">
        <h1>Contact Information:</h1>
      </div>
      <!-- Example row of columns -->
      <div class="row" style="text-align:center;">
        <div class="col-lg-4">
          <h2>Gabriel Farah</h2>
          <p>Universidad de Los Andes<br>
            Cra 1E #19-40,<br>
            Bogotá - Colombia<br>
            +57 1 339-4949<br>
          </p>
          <p><a class="" href="mailto:g.farah38@uniandes.edu.co">g.farah38@uniandes.edu.co</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Juan Sebastian Tejada</h2>
          <p>Universidad de Los Andes<br>
            Cra 1E #19-40,<br>
            Bogotá - Colombia<br>
            +57 1 339-4949<br>
          </p>
          <p><a class="" href="mailto:js.tejada157@uniandes.edu.co">js.tejada157@uniandes.edu.co</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Dario Correal</h2>
          <p>Universidad de Los Andes<br>
            Cra 1E #19-40,<br>
            Bogotá - Colombia<br>
            +57 1 339-4949<br>
          </p>
          <p><a class="" href="mailto:dcorreal@uniandes.edu.co">dcorreal@uniandes.edu.co</a></p>
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}
