{% extends "base.html" %}
{% block title %} - Home{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Openhub</h1>
        <p>Openhub is a scalable and extensible distributed system that indexes open-source GitHub repositories written in Python, and analyzes their quality based on different quality attributes in order to later provide a more effective search of repositories based on their quality.</p>
        <p><a href="{{ url_for('docs') }}" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Quality Analysis</h2>
          <p>Currently, the web hosts millions of open source repositories. Finding the right repository amounts to searching repositories by name or description, but there is now way to search by quality attributes (e.g. performance, testability or usability). OpenHub aims to provide a searchable index of repositories and ther quality.</p>
          <p><a class="btn btn-success" href="{{ url_for('docs') }}">More info &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Repository Index</h2>
          <p>1.7 million GitHub projects were crawled up to now and more than 140,000 Python repositories analyzed for a total of 9.8TB of data processed using the OpenHub architecture. The resulting 3GB dataset collected is available for download, and is constanty growing. </p>
          <p><a class="btn btn-success" href="https://drive.google.com/file/d/0B5cF-sS0dlwJb3BVaHlJWE96UEU/edit?usp=sharing">Download the Data Set &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Extensible Code</h2>
          <p>OpenHub was built with extensibility in mind to allow develepers to write and integrate new quality analyzers for different quality attributes beyond the ones initially covered and for other languages beyond Python. We encourage people to fork the GitHub repository and submit pull requests, and new analyzers will be integrated into the architecture.</p>
          <p><a class="btn btn-success" href="https://github.com/gabrielfarah/OpenHub">Download the code &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}
