{% extends "base.html" %}
{% block title %} - Home{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Openhub</h1>
        <p>Openhub is a scalable and extensible distributed system that indexes open-source GitHub repositories written in Python, and analyzes their quality based on different quality attributes in order to later provide a more effective search of repositories based on their quality.</p>
        <p><a href="{{ url_for('docs') }}" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>The Problem</h2>
          <p>Currently, the web hosts millions of freely accessible open source repositories. Finding the right repository amounts to searching repositories by name or description, and testing projects until a fit meets a desired set of quality attributes (e.g. performance, testability or usability). This is a time consuming task since there is no proper tool to search for repositories by how well they perform on a set of given quality attributes.</p>
        </div>
        <div class="col-lg-4">
          <h2>Solution</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}
